{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row border flex-md-row mb-4 shadow-sm bg-white {% block content_row_class %}{% endblock %}">
                <div class="col-sm-12 {% block content_col_class %}{% endblock %}">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}